:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: "Arial, sans-serif";
}

@property --percentage {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

body {
  height: 100vh;
  font-family: var(--font-family);
  overflow: hidden;
}

/* =========== container =========== */

.container-father {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-right: 50px;
  margin-left: 50px;
}

/* =========== information tasks =========== */

.iformation-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding: 20px;
  border-radius: 20px;
}

.iformation-tasks .add-tasks {
  flex: 1;
}

.iformation-tasks .add-tasks .title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.iformation-tasks .add-tasks .inputs-btn {
  display: flex;
  gap: 30px;
}

.iformation-tasks .add-tasks .inputs-btn .input-task {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
}

.iformation-tasks .add-tasks .inputs-btn .btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
}

.iformation-tasks .add-tasks .inputs-btn .btn:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

.iformation-tasks .success-tasks {
  width: 150px;
  height: 150px;
  position: relative;
  border: 12px solid #eee;
  border-radius: 50%;
}

.iformation-tasks .success-tasks::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    var(--secondary-color) calc(var(--percentage) * 1%),
    transparent 0%
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 12px),
    #000 calc(100% - 12px)
  );
  transition: --percentage 0.5s ease-in-out;
}

.iformation-tasks .success-tasks .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}
